<!DOCTYPE html>

<head>
	<link rel="stylesheet" href="static\style.css" type="text/css">
</head>

<form action="/property_list" method="POST">
	<div class="homepage">
		<div class="homepage-screen">
			<div class="app-title">
				<h1> List of Property </h1>
			</div>
			
			<div class="homepage-form">
			
				<div class="app-title">
					<h3> Featured </h3>
				</div>
				
				<div class="control-group">
					<table align="center">
							<tr>
								<th> Location </th>
								<th> Price </th>
								<th> Size </th>
								<th> Price Per Sqft</th>
								<th> Tenure </th>
								<th> Type </th>
								<th> Amenities </th>
							</tr>
							<tr>
							   <td> {{ grossIncome }} </td>
							   <td> {{ totalFund }} </td>
							   <td> {{ debt }} </td>
							   <td> {{ noHome }} </td>
							   <td> {{ buyAs }} </td>
							   <td> {{ buyAs }} </td>
							   <td> </td>
							</tr>

					  </table>
				</div>
				
				
				
				<div class="app-title">
					<h3> Others </h3>
				</div>
				
				<div class="control-group">
					<table align="center">
							<tr>
								<th> Location </th>
								<th> Price </th>
								<th> Size </th>
								<th> Price Per Sqft</th>
								<th> Tenure </th>
								<th> Type </th>
								<th> Amenities </th>
							</tr>
							<tr>
							   <td> {{ grossIncome }} </td>
							   <td> {{ totalFund }} </td>
							   <td> {{ debt }} </td>
							   <td> {{ noHome }} </td>
							   <td> {{ buyAs }} </td>
							   <td> {{ buyAs }} </td>
							   <td> </td>
							</tr>

					  </table>
				</div>
				
				
				
			</div>	
			
			
			
			
			
			
		</div>
	</div>
</form>