<!DOCTYPE html>

<head>
	<link rel="stylesheet" href="static\style.css" type="text/css">
</head>

<form action="/property_list" method="POST">
	<div class="homepage">
		<div class="homepage-screen">
			<div class="app-title">
				<h1> List of Property </h1>
			</div>
			
			<div class="homepage-form">
			
				<div class="app-title">
					<h3> Featured </h3>
				</div>
				
				<div class="control-group">
					<table id="featuredList" align="center">
							<tr>
								<th onclick="sortTable(0,'featuredList')"> Location </th>
								<th onclick="sortTable(1,'featuredList')"> Price </th>
								<th onclick="sortTable(2,'featuredList')"> Size </th>
								<th onclick="sortTable(3,'featuredList')"> Price Per Sqft</th>
								<th onclick="sortTable(4,'featuredList')"> Tenure </th>
								<th onclick="sortTable(5,'featuredList')"> Type </th>
								<th onclick="sortTable(6,'featuredList')"> Amenities </th>
							</tr>
							<tr>
							   <td> {{ grossIncome }} </td>
							   <td> {{ totalFund }} </td>
							   <td> {{ debt }} </td>
							   <td> {{ noHome }} </td>
							   <td> {{ buyAs }} </td>
							   <td> {{ buyAs }} </td>
							   <td> </td>
							</tr>

					  </table>
				</div>
				
				
				
				<div class="app-title">
					<h3> Others </h3>
				</div>
				
				<div class="control-group">
					<table id="otherList" align="center">
							<tr>
								<th onclick="sortTable(0,'otherList')"> Location </th>
								<th onclick="sortTable(1,'otherList')"> Price </th>
								<th onclick="sortTable(2,'otherList')"> Size </th>
								<th onclick="sortTable(3,'otherList')"> Price Per Sqft</th>
								<th onclick="sortTable(4,'otherList')"> Tenure </th>
								<th onclick="sortTable(5,'otherList')"> Type </th>
								<th onclick="sortTable(6,'otherList')"> Amenities </th>
							</tr>
							<tr>
							   <td> {{ grossIncome }} </td>
							   <td> {{ totalFund }} </td>
							   <td> {{ debt }} </td>
							   <td> {{ noHome }} </td>
							   <td> {{ buyAs }} </td>
							   <td> {{ buyAs }} </td>
							   <td> </td>
							</tr>

					  </table>
				</div>
				
				
				
			</div>	
			
			
			<script>
				// This function is from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sort_table_desc
				function sortTable(n, table) {
				  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
				  table = document.getElementById(table);
				  switching = true;
				  //Set the sorting direction to ascending:
				  dir = "asc"; 
				  /*Make a loop that will continue until
				  no switching has been done:*/
				  while (switching) {
					//start by saying: no switching is done:
					switching = false;
					rows = table.rows;
					/*Loop through all table rows (except the
					first, which contains table headers):*/
					for (i = 1; i < (rows.length - 1); i++) {
					  //start by saying there should be no switching:
					  shouldSwitch = false;
					  /*Get the two elements you want to compare,
					  one from current row and one from the next:*/
					  x = rows[i].getElementsByTagName("TD")[n];
					  y = rows[i + 1].getElementsByTagName("TD")[n];
					  /*check if the two rows should switch place,
					  based on the direction, asc or desc:*/
					  if (dir == "asc") {
						if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
						  //if so, mark as a switch and break the loop:
						  shouldSwitch= true;
						  break;
						}
					  } else if (dir == "desc") {
						if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
						  //if so, mark as a switch and break the loop:
						  shouldSwitch = true;
						  break;
						}
					  }
					}
					if (shouldSwitch) {
					  /*If a switch has been marked, make the switch
					  and mark that a switch has been done:*/
					  rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
					  switching = true;
					  //Each time a switch is done, increase this count by 1:
					  switchcount ++;      
					} else {
					  /*If no switching has been done AND the direction is "asc",
					  set the direction to "desc" and run the while loop again.*/
					  if (switchcount == 0 && dir == "asc") {
						dir = "desc";
						switching = true;
					  }
					}
				  }
				}
				</script>

			
			
			
			
		</div>
	</div>
</form>