<!DOCTYPE html>

<head>
	<link rel="stylesheet" href="static\style.css" type="text/css">
</head>

<form action="/property_list" method="POST">
	<div class="homepage">
		<div class="homepage-screen">
			<div class="app-title">
				<h1> Property </h1>
			</div>
			
			<div class="homepage-form">
			
				<div class="app-title">
					<h3> Your Affordability Report </h3>
				</div>
				
				<div class="control-group">
					<div class="control-group">
						<label class="label-title" for="maxPropertyValue">Maximum Property Value </label> <br>
						<span name="maxPropertyValue" class="autofill_form"> {{ max_property_value}} </span>
					</div>
					
					<div class="control-group">
						<label class="label-title" for="loanAmount"> Loan Amount </label> <br>
						<span name="loanAmount" class="autofill_form"> {{ grossIncome }} </span>
					</div>
					
					<div class="control-group">
						<label class="label-title" for="deposit"> Deposit </label> <br>
						<span name="" class="autofill_form"> {{ grossIncome }} </span>
					</div>
					
					<div class="control-group">
						<label class="label-title" for="fees_duties"> Fees and Duties </label> <br>
						<span name="fees_duties" class="autofill_form"> {{ grossIncome }} </span>
					</div>
					
					<div class="control-group">
						<label class="label-title" for="TDSR"> Total Debt Servicing Ratio (TDSR) </label> <br>
						<span name="TDSR" class="autofill_form"> {{ grossIncome }} </span>
					</div>
					
					<div class="control-group">
						<label class="label-title" for="MSR"> Mortage Servicing Ratio (MSR) </label> <br>
						<span name="MSR" class="autofill_form"> {{ grossIncome }} </span>
					</div>
					
					<div class="control-group">
						<label class="label-title" for="LTV"> Loan to Value (LTV) </label> <br>
						<span name="LTV" class="autofill_form"> {{ grossIncome }} </span>
					</div>
					
					<div class="control-group">
						<label class="label-title" for="cashDownpayment"> Cash Downpayment </label> <br>
						<span name="cashDownpayment" class="autofill_form"> {{ grossIncome }} </span>
					</div>
					
				</div>
				
			
				<div class="app-title">
					<h3> Property Preferences </h3>
				</div>
				
				<div class="control-group">
					<label class="label-title" for="propertyLocation"> Location </label> <br>
					<input type="text" class="homepage-field" value="" placeholder="Coordinate within (1.26828, 1.46828) to (104.6444, 104.024719)" name="propertyLocation">
					<label class="homepage-field-icon fui-lock" for="homepage-pass"></label>
				</div>
				
				<div class="control-group"> 
					<label class="label-title"> Minimum Price <label> <br>
					<input type="range" name="minPrice" id="minPrice" min="100000" max="5000000">
					<br> <span id="minPriceInput"></span>
				</div>
				
				<div class="control-group"> 
					<label class="label-title"> Maximum Price <label> <br>
					<input type="range" name="maxPrice" id="maxPrice" min="100000" max="5000000">
					<br> <span id="maxPriceInput"></span>
				</div>
				
				<div class="control-group"> 
					<label class="label-title"> Minimum Sqft <label> <br>
					<input type="range" name="minSqft" id="minSqft" min="645" max="39000">
					<br> <span id="minSqftInput"></span>
				</div>
				
				<div class="control-group"> 
					<label class="label-title"> Maximum Sqft <label> <br>
					<input type="range" name="maxSqft" id="maxSqft" min="645" max="39000">
					<br> <span id="maxSqftInput"></span>
				</div>
				
				<script>
					var sliderMinPrice = document.getElementById("minPrice");
					var sliderMaxPrice = document.getElementById("maxPrice")
					var outputMinPrice = document.getElementById("minPriceInput");
					var outputMaxPrice = document.getElementById("maxPriceInput");
					outputMinPrice.innerHTML = sliderMinPrice.value;
					outputMaxPrice.innerHTML = sliderMaxPrice.value;
					
					sliderMinPrice.oninput = function() {
						outputMinPrice.innerHTML = this.value;
					}
					
					sliderMaxPrice.oninput = function() {
						outputMaxPrice.innerHTML = this.value;
					}
					
					var sliderMinSqft = document.getElementById("minSqft");
					var sliderMaxSqft = document.getElementById("maxSqft")
					var outputMinSqft = document.getElementById("minSqftInput");
					var outputMaxSqft = document.getElementById("maxSqftInput");
					outputMinSqft.innerHTML = sliderMinSqft.value;
					outputMaxSqft.innerHTML = sliderMaxSqft.value;
					
					sliderMinSqft.oninput = function() {
						outputMinSqft.innerHTML = this.value;
					}
					
					sliderMaxSqft.oninput = function() {
						outputMaxSqft.innerHTML = this.value;
					}
				</script>
				
				
			</div>	
			
			
			
			
			
			
				
			<div class="homepage-form">
				<input type="submit" value="Submit" class="btn btn-primary btn-large btn-block" >
				
			</div>
		</div>
	</div>
</form>


